@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400 ;1 500;1 600;1 700;1 800;1 900&display=swap');

/* Variable des couleurs */
:root {
    --couleur-bleu :  #0065FC ;
    --color-light-blue:  #DEEBFF ;
    --color-black:  #000000 ;
    --color-grey:  #F2F2F2;
    --color-white:  #FFFFFF ;
    --color-transparent :  rgb(212, 208, 208);
}
/* Pour utiliser la variable mettre var(--nomVariable); */

* {
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */

header nav {
    padding: 0 40px;
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    padding: 40px;
    border-top: 3px solid transparent;
    color: black ;
}

nav a:hover {
    border-top-color:  #0065FC;
    color:  #0065FC;
}

#logo-Booki {
    margin-right: auto;
    padding: 10px 0px;
}

nav img {
    height: 70px;
}

.sub-nav {
    display: flex;
} 


.body-Booki {
    padding: 0 40px;
    max-width: 1400px;
    margin: 0 auto;

} 

/* Trouver votre hébergement */


.first-div h1 {
    font-size:  20px ;
    margin-top:  25px ;
}

.first-div p {
    font-size:  16px ;
    margin-bottom:  30px ;
    font-weight:  300 ;
}

.formulaire{
    height: 50px;
    width: 350px;
    display: flex;
}
.pointer{
    height: 50px;
    width: 50px;
    background-color: rgb(219, 219, 219);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte_formulaire
{
    background-color: white;
    border: solid 1px silver;
    text-align: center;
    font-weight: bolder;
 
}

.button_formulaire{
    background-color: #0065FC;
    width: 150px;
    color:white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bolder;
}

/* Filtres */

.liste-filtre {
    display: flex ;
    align-items : center;
    flex-wrap : wrap;
    margin-top:  25px ;
}
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: #0065FC ;
}

.liste-filtre h2 {
    margin-right:  20px ;
    font-size:  17px ;
    font-weight :  620 ;
}

.cercle-filtre
{   height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color:  #DEEBFF;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:-2px;
    left:-2px;
    
}

.filtres {
    border :  2px solid rgb(212, 208, 208);
    border-radius :  20px ;
    display : flex ;
    cursor : pointer;
    margin-right :  20px ;
    margin-bottom :  15px ;
    height :  42px ;
    position: relative;
    align-items: center;
    padding-left: 50px;
    padding-right: 10px;
}

.liste-filtre .filtres i
 {
    color:  #0065FC;
    background-color : #DEEBFF ;
    border-radius:  50% ;
    margin:  -2px ;
    display : flex;
    align-items : center;
    justify-content : center;
    width:  42px ;
    height:  42px ;
}

.lesfiltres span {
    font-weight :  600 ;
    padding:  9px  15px ;
}

.liste-filtre .filtres :hover {
    background-color:rgb(212, 208, 208);
    border-color: rgb(212, 208, 208);
}

/* Informations */

.infos {
    display : flex;
    align-items : center;
    margin-top :  10px ;
    margin-bottom :  10px ;
}

.infos .fas {
    color: #0065FC;
    width:  30px;
    height:  30px;
    border:  1px solid rgb(212, 208, 208);
    border-radius:  50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right :  10px ;
    margin-bottom :  5px ;
    
}

.infos p {
    padding-top :  5px ;
}

/* HEBERGEMENTS + POPULAIRES */

.gros-container{
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.pàgros-container {
    font-size:  15px ;
}

.gros-container h2 {
    margin :  30px ;
    font-size :  20px ;
}

.content1 {
    width: 60% ;
    background-color: rgb(243, 242, 242);
    border-radius: 15px ;
}


.content2 {
    width:  33% ;
    background-color: rgb(243, 242, 242);
    border-radius: 15px ;
}

.fort {
    font-weight: 600 ;
}

        /* HEBERGEMENTS */

.listedhotels {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px ;
}

.hotels-content1 {
    display : flex;
    flex-direction : column;
    background-color: white;
   border-radius:  20px ;
    box-shadow:  0  0  16px  #0000002e ;
    margin: auto;
    margin-bottom:  15px ;
    flex-basis:  30% ;
    min-width: 200px ;
    max-width: 450px ;
    cursor: pointer;
}

.hôtels-content1:hover {
    background-color : whitesmoke;
}

.hotels-content1 img {
    width:  100% ;
    height:  125px ;
   object-fit: cover;
   object-position: center;
    border-radius :  20px  20px  0  0 ;
   padding:  5px ;
}

.hotels-content1  p {
    margin-bottom :  10px ;
    margin-top :  0 ;
}

.hotels-content1  h3 {
    margin:  0 ;
    margin-bottom : 8px ;
  font-size: 15px ;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.text-description {
    padding:  0  8px  8px ;
    font-size :  14px ;
   
    
    
}

.fa-star {
   font-size:  12px ;
}

.Afficher_Plus{
    font-weight: bold;
    margin-left: 30px ;
}


/* POPULAIRES */

.title-populaire {
    display: flex;
    align-items: center;
    justify-content : space-between;
    margin: 0 ;
    
}

.fa-chart-line {
    font-size: 20px ;
    padding-right: 30px;
}

.liste-populaire {
   display: flex;
    justify-content: space-between;
    justify-content: space-evenly ;
    flex-direction: column;
    margin:  0  25px ;
}

.hôtels-populaires {
    display: flex ;
    box-shadow: 0 0 16px #0000002e ;
    border-radius :  20px ;
    background-color : white;
    margin-bottom :  15px ;
    height:  145px ;
    cursor : pointer;
}

.hôtels-populaires img {
    width: 45% ;
    border-radius: 20px 0 0 20px ;
    padding: 5px ;
    object-fit: cover ;
    object-position: center;
}

.hôtels-populaires :hover {
    background-color: whitesmoke;
}

.hôtels-populaires .text-description2 {
    padding: 0 8px 8px ;
}

.hôtels-populaires h3 {
   padding-top:  10px ;
    font-size:  15px ;
}

/* ACTIVITÉS */

#Activités {
    margin-top:  30px ;
    display: flex;
    flex-wrap: wrap;
}

.activités-marseille h2 {
    margin:  30px  20px ;
    font-size:  20px ;
    
}

.activités-marseille {
   display: flex ;
    flex-wrap: wrap;
}

.liste-activités {
    display: flex ;
    justify-content : space-evenly;
    flex-wrap: wrap;
    flex-basis:  100% ;
    
} 

.groupe1 {
   display: flex ;
   flex-direction: column;
}

.groupe2 {
    display: flex ;
    flex-direction: column;
}

#Activités h3 {
    margin-top:  10px ;
    padding-left:  15px ;
    font-size:  15px ;
    font-weight:  600 ;
}

  /* Activités carte */

  /* Fort de Pomègues */
 .card-activities2 {
    overflow: hidden;
    Height:  190px ;
    width:  250px ;
    border-radius:  20px ;
    box-shadow:  0  2px  10px  #f2f2f2 ;
    margin-right:  45px ;
    margin-bottom:  25px ;
}

.card-activities2:hover {
    cursor: pointer;
    background-color:  rgb(212, 208, 208);
    color: #0065FC;
}

.card-activities2 img {
   object-fit : cover ;
    object-position : center;
    height:  80% ;
   width:  100% ;
} 

.card-activities2 {
    overflow : hidden;
    Height:  190px ;
    width :  250px ;
    border-radius:  20px ;
    box-shadow :  0  2px  10px  #f2f2f2 ;
    margin-right:  45px ;
    margin-bottom:  25px ;
}

.card-activities2 :hover {
    cursor: pointer;
    background-color:  rgb(212, 208, 208);
    color: #0065FC;
}

.card-activities2 img {
   object-fit : cover ;
    object-position : center;
    height :  80% ;
   width :  100% ;
}



                /* Ile du Frioul */

.card-activities3 {
    overflow : hidden;
    height: 130px ;
    width: 250px ;
    border-radius:  20px ;
    box-shadow: 0 2px 10px #f2f2f2 ;
}

.card-activities3:hover {
    cursor : pointer;
    background-color : rgb(212, 208, 208);
    color:#0065FC ;
}

.card-activities3 img {
   object-fit : cover ;
   object-position : center;
    height:  65% ;
    width :  100% ;
}



  /* Cartes 1 et 4 : grandes */

  .card-activities-big {
    overflow: hidden;
    height: 350px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 2px 10px #f2f2f2;
    margin-right: 45px;
}

.card-activities-big:hover {
    cursor: pointer;
    background-color: #F2F2F2;
    color: var(--blue);
}

.card-activities-big img {
    object-fit: cover;
    object-position: center;
    height: 85%;
}
                

 /* Cartes 5 et 6 : la moitié */


.card-activities-half {
    overflow: hidden;
    height: 155px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 2px 10px #f2f2f2;
    margin-bottom: 30px;
}

.card-activities-half:hover {
    cursor: pointer;
    background-color: #F2F2F2;
    color: var(--blue);
}
            
.card-activities-half img {
    object-fit: cover;
    object-position: center;
    height: 75%;
    width: 100%;
}
         


/* Footer */

.Footer-Wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:rgb(243, 242, 242);;
    margin-top: 30px;
    padding: 15px;
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}


.Footer-Wrapper-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 16px;
    flex: 1;
}

.Footer-Wrapper h2 {
    font-size: 20px;
    font-weight: 550;
}

.Footer-Wrapper a {
    cursor: pointer;
    margin-bottom: 14px;
    font-weight: 300;
}

.Footer-Wrapper a:hover {
    color: #0065FC;
}

.Footer-Wrapper p {
    margin: 10px 0;
}



/* ////////////////////////////////////////////// ////////////////////////// */




 /* MediaQueries */

@media all and (max-width:  1300px) {
    
    /* Blocs populaires + hébergements */

.gros-container {
    flex-direction : column-reverse ;
}

.content2 {
    width:  100% ;
    flex-direction : wrap;
    padding-bottom :  20px ;
}

.content1 {
    width:  100% ;
    flex-wrap : wrap;
    
}

.body-Booki {
   padding :  0px ;
}

.first-div {
  padding:  0  40px ;
}

.content1 {
    background-color : white;
    border-radius :  0 ;
   }

.content2 {
    border-radius :  0 ;
}

.hôtels-populaires {
    height :  210px ;
}

}




@media all and (max-width : 1140px) {

    /* Activités */

    
    .groupe1 {
        display: block;
    }

    .groupe2 {
        display : block;
    }

     .liste-activités {
        display : block;
       padding-left:  10% ;
      padding-top :  15px ;
    }

    #Activités img {
        height:  75% ;
    }

    
    .card-activities-big {
        height :  200px ;
        width:  90% ;
        margin-bottom:  20px ;
    }
    
    .card-activities-big  img {
        width:  100% ;
    }
    
    .card-activities2 {
       height :  200px ;
        width:  90% ;
        margin-bottom:  20px ;
    }

    .card-activities2  img {
        height:  85% ;
    }
    
    .card-activities3 {
        height:  200px;
      width :  90%;
        margin-bottom :  20px;
    } 

    .card-activities3 img {
        height :  85% ;
    }


    .card-activities2  img {
        width:  100% ;
    }

    .card-activities-half {
        height :  200px ;
        width:  90% ;
        margin-bottom:  20px ;
    }

    .card-activities-half img {
        height:  85% ;
    }
  

}


 @media all and (max-width: 992px)  {
      

    /* Header */
    
header nav {
        
    padding: 0;
}
    
.sub-nav {
    flex-basis: 100%;
    text-align: center;
 }
    
.sub-nav a {
    flex-basis: 50%;
    border-bottom: 3px solid #F2F2F2;
    padding: 15px;
}
    
.sub-nav a:hover {
    border-bottom-color: var(--blue);
    border-top-color: transparent;
}
    
#logo-Booki {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
      

}
    
    
    
    @media all and (max-width: 768px ) {
        
 /* MOBILE */
    
    
header nav {
 padding: 0;
}
    
 /* Trouver votre logement */
        
.search-form .texte_formulaire {
 display: none;
}
        
.fa-search {
display: inline;
 background-color: inherit;
}
        
.liste-filtre h2 {
    width: 100%;
 margin: 15px 0;
}
    
.first-div input {
flex: 0.5;
}
    
    
.button_formulaire {
    border-radius: 12px 12px 12px 12px;
    margin-left: -18px;
}
    
    
/*hebergements marseille  */
.gros-container  { 
    flex-direction: column-reverse;
}   
.content1 {
    width: 100%;
}
.content2 {
    width: 100%;
}
.hotels-content1 {
   width: 100%;
}
    
.listedhotels {
    flex-wrap: nowrap;
 flex-direction: column;
}
    
.listedhotels .hotels-content1 {
 width: 100%;
}
    
/* popular */
    
 .hôtels-populaires {
max-height: 170px;
}
    
.liste-populaire .hôtels-populaires {
    width: 100%;
}

    /* ACTIVITIES */
    
    
        
.group1 {
    display: block;
}
    
.group2 {
display: block;
}
    
.liste-activités {
    display: block;
 padding-left: 10%;
 padding-top: 15px;
}
    
.card-activities-big {
    height: 200px;
    width: 90%;
    margin-bottom: 20px;
}
        
.card-activities-big img {
 width: 100%;
}
        
.card-activities2 {
height: 200px;
width: 90%;
margin-bottom: 20px;
 }
    
.card-activities2 img {
 height: 85%;
}
        
.card-activities3 {
height: 200px;
width: 90%;
margin-bottom: 20px;
} 
    
.card-activities3 img {
 height: 85%;
}
    
    
.card-activities2 img {
 width: 100%;
}
    
.card-activities-half {
    height: 200px;
    width: 90%;
    margin-bottom: 20px;
}
    
.card-activities-half img {
    height: 85%;
}
    
    
 /* Footer */
    
.Footer-Wrapper {
flex-direction: column;
}
        
        
}
    
@media all and (max-width: 495px) {
    
    .first-div input {
    flex: 1;
 }
    
.infos .fas {
 width: 39px;
height: 30px;}     
}
    
@media all and (max-width: 425px) {
    
    .first-div h1 {
    display: flex;
 flex-direction: column;
 }
}
    
@media all and (max-width: 347px) {
    
.first-div h1 {
display: inline-block;
}
}
    
@media all and (max-width: 347px) {
    
 .first-div {
    padding: 0 20px;
 }
    
    }